body{
  background:linear-gradient(30deg, #9493d3, rgb(242, 243, 248) ,rgb(233, 234, 247), rgb(253, 255, 255));

}

  h1{
    margin: 0 auto;
    text-align: center;
    /* font-weight: 500; */
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;

    }
 
.input-group{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 10px;

}


.table2{
      cursor: pointer;
      overflow:scroll;
      height:380px;
      border-radius: 15px;

    
    }

    .table{
      border-radius: 5PX;
      

    }
    
    .table-responsive{
      border-radius: 15px;
      box-shadow: -9px -6px 9px 0px rgba(0,0,0,0.75);
    }

    #vermas{
      border-radius: 6px;
    }
  