body{
  background:linear-gradient(30deg, #e3fc07, rgb(242, 243, 248) ,rgb(233, 234, 247), rgb(253, 255, 255));

}

  h1{
    margin: 0 auto;
    text-align: center;
    /* font-weight: 500; */
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
    text-shadow: -1px 1px 0 rgb(28, 43, 29) , -3px 5px 0 #B6FAB9;

    }
    .table2{
      cursor: pointer;
      /* overflow:scroll; */
      height:500px;
    
    }

  
    .table .btn{
      font: italic bold 15px Georgia, Serif;
    
    }
  