body{
    background-color: #F8F9F9 ;
  }

  h1{
  color: #1CE32B;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font: italic bold 40px Georgia, Serif;
  text-shadow: -4px 3px 0 #030303, -14px 7px 0 #B6FAB9;

  }

  button:hover {
    background-color: #1CE32B;
    padding: 14px 16px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  #myTable{
    border-style: outset;
    border-color: #1CE32B;

  }
  .carousel-inner{
      width: 100%;
      height: 90%;
      border-style: outset;
      border-color: #1CE32B;
      border-radius: 10px;

   }
     
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animated:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }