.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .animated:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  
  h1{
    margin: 0 auto;
    text-align: center;
    /* font-weight: 500; */
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: black;


    }
  #myModal {
    margin-bottom: 0px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    
  }
  
  .modal-header 
   {
       padding:9px 15px;
       border-bottom:1px solid #eee;
       background-image: url(../../img/image.jpg);
      }
   .modal-header .close{margin-top:2px}
   .modal-header h3{margin:0;line-height:30px;
    color:#030303;
      font-weight: 500}
  
   .modal-body{
    background-image: url(../../img/image.jpg);
       }
  
   .modal-footer{
  
    background-image: url(../../img/image1.jpg);
   }
  
   
   .modal-backdrop
  {
      opacity:0.7 !important;
  }
  
  .modal .btn-secondary{
    width: 50%;
    margin-left: 90px;
  
  }
  .form-control{
    width: 105%;
    
  }
  .form-signin{
    min-height: 1px;
      padding: 0px;
      margin: 0px 0;
      margin-left: 0px auto;
      margin-right: 0px auto;
      margin-top: 0px auto;
      margin-bottom: 0px auto;
  
  }
  .modal .modal-content{
    width: 400px;
  
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
      color: black;
      font-weight: 900;
      font-family:  Arial, Helvetica, sans-serif;

    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  } 

  
.carousel .btn{
  background-color: rgb(85, 86, 94);
  color:rgb(200, 207, 214);
  border-radius: 10px;
  padding: 6px;
  width: 150px;
  font-weight: 900;
  font-family:  Arial, Helvetica, sans-serif;

}
.carousel .btn:hover{

  background-color: rgba(133, 134, 141, 0.507)
  color:rgb(200, 207, 214);
  border-radius: 10px;
  padding: 6px;
  width: 150px;
  font-weight: 900;
  font-family:  Arial, Helvetica, sans-serif;

}



/* .container .carousel-caption{
background-color: rgba(85, 85, 109, 0.5);
border-radius: 14px;
text-align: center;
width: 50%;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
} */


#imgone .carousel-caption{

  background-color: rgba(214, 214, 228, 0.61);
  border-radius: 14px;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#imgtwo .carousel-caption{

  background-color: rgba(214, 214, 228, 0.664);
  border-radius: 14px;
  margin-bottom: 30%;
  box-shadow: -12px -9px 18px 0px rgba(0,0,0,0.75);
}
#imgtwo div{
  color: #030303;
  font-size: 18px;
  font-weight: 600;
  padding: 9px;

}

h1{
  margin: 0 auto;
  text-align: center;
  font-family:  Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 30px;

  }

#imgthree .carousel-caption{

  background-color: rgba(214, 214, 228, 0.61);
  border-radius: 14px;
  text-align: center;
  margin-bottom: 20%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
#imgthree  div{
  color: #030303;
  font-size: 18px;
  padding: 9px;

}

#imgfour .carousel-caption{

  background-color: rgba(214, 214, 228, 0.664);
  border-radius: 14px;
  margin-bottom: 20%;
  margin-right: 40%;
  box-shadow: -12px -9px 18px 0px rgba(0,0,0,0.75);
  text-align: right;

}

#imgfour div{
  color: #030303;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
  margin-left: 20px;
}



