.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .animated:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  
  h1{
  color:#030303;
  margin: 0 auto;
  font-weight: 500;
  font: italic bold 40px Georgia, Serif;
  text-shadow: -4px 3px 0 #1CE32B , -14px 7px 0 #B6FAB9;
  
  }
  #myModal {
    margin-bottom: 0px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    
  }
  
  .modal-header 
   {
       padding:9px 15px;
       border-bottom:1px solid #eee;
       background-image: url(../../img/image.jpg);
      }
   .modal-header .close{margin-top:2px}
   .modal-header h3{margin:0;line-height:30px;
    color:#030303;
      font-weight: 500}
  
   .modal-body{
    background-image: url(../../img/image.jpg);
       }
  
   .modal-footer{
  
    background-image: url(../../img/image1.jpg);
   }
  
   
   .modal-backdrop
  {
      opacity:0.7 !important;
  }
  
  .modal .btn-secondary{
    width: 50%;
    margin-left: 90px;
  
  }
  .form-control{
    width: 105%;
    
  }
  .form-signin{
    min-height: 1px;
      padding: 0px;
      margin: 0px 0;
      margin-left: 0px auto;
      margin-right: 0px auto;
      margin-top: 0px auto;
      margin-bottom: 0px auto;
  
  }
  .modal .modal-content{
    width: 400px;
  
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  } 

  
.carousel .btn{
  background-color: #E5E8E8;
  color:#34495E;
  border-radius: 10px;
  padding: 6px;
  width: 150px;
  font: italic bold 20px Georgia, Serif;

}
.carousel .btn:hover{
  background-color: #E5E8E8;
  color:#34495E;
  border-radius: 5px;
  width: 150px;
  font: italic bold 21px Georgia, Serif;


}
  