  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animated:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  

  
  .col-sm-7 {
    margin: 155px;
  
  }
  
 
  .table .btn{
    font: italic bold 15px Georgia, Serif;
  
  }
  .inicio .col-sm-7{
    margin: 15px;
  }



/*   
      .footer-copyright{
        position:fixed;
        left:0px;
        bottom:0px;
        width:100%;
      } */
      h1{
      margin: 0 auto;
      text-align: center;
      /* font-weight: 500; */
      font-family:  Arial, Helvetica, sans-serif;
      font-weight: 900;
      font-size: 30px;
  
      }
  
      .table2{
      cursor: pointer;
      overflow:scroll;
      height:450px;
      border-radius: 5px;
    }

    .table-responsive{
      border-radius: 10px;
      box-shadow: -9px -4px 5px 0px rgba(0,0,0,0.75);
      border: solid;
      border-color:rgb(187, 177, 241);
    }
  
  
    .inicio .col-sm-12{
      
      border-radius: 0px 0px 20px 0px;
      color:#dac9c9;
      
      font: italic bold 20px Georgia, Serif;
      background:linear-gradient(30deg, rgb(139, 22, 22) ,rgb(107, 66, 66), rgb(139, 22, 22)) ;
      height: 65px;
      padding-left: 50px;
      padding-bottom: 19px;
      padding-top: 9px;
      margin-top: 20px;
      font-family:  Arial, Helvetica, sans-serif;
      font-weight: 1000;
      box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);

      /* background-image: url(img/cultivo.jpeg); */
      /* background:linear-gradient(30deg, rgb(64, 233, 13),#e3fc07, rgb(116, 225, 65), rgb(206, 243, 201), #e3fc07); */
    }
  
    .encurso{
      padding: 15px;
      border-radius: 4px;
      /* border-radius: 13em/3em; */
      background:linear-gradient(30deg, #9493d3, rgb(187, 193, 224) ,rgb(134, 138, 199), rgb(178, 177, 226));
      /* background-image: url(img/cultivo.jpeg); */
      /* background:linear-gradient(30deg, rgb(116, 225, 65) ,#e3fc07, rgb(116, 225, 65), rgb(206, 243, 201), #e3fc07); */
      font: italic bold 15px Georgia, Serif;
      margin: 30px;
      height: 120px; 
      width: 270px;
      text-align: center;
      color:#040404;
      box-shadow: -9px -4px 5px 0px rgba(0,0,0,0.75);
      font-family:  Arial, Helvetica, sans-serif;
      font-weight: 900;
    
    }
    body{
        background:linear-gradient(30deg, #9493d3, rgb(242, 243, 248) ,rgb(233, 234, 247), rgb(157, 149, 228));

    }
  

    


