
.carousel-inner{
    width: 110%;
    height: 90%;
    border-style: outset;
    border-radius: 10px;
    margin: 15px;

 }

 .col-sm-3{
    border-radius: 3px;
    margin: 3px;

 }
   
#cabecera #titulo{
  background:linear-gradient(30deg, rgb(139, 22, 22) ,rgb(107, 66, 66), rgb(139, 22, 22)) ;
  padding: 7px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    

  }
  #forlocal{
    background-color:aliceblue;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 35px;
    height: 500px;
    text-align: center;

  }

  .table2{
    cursor: pointer;
    overflow:scroll;
    height:500px;
  }



  #adi{
 


  }

  #prueba{
    border: none;
    cursor: pointer;
    width:650px;
    outline: none;
    margin-left: 29px;
    margin-bottom: 1px;
  
  }
  

  h1{
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
      font-family:  Arial, Helvetica, sans-serif;
    font-size: 30px;
    /* text-shadow: -1px 1px 0 rgb(28, 43, 29) , -2px 3px 0 rgb(212, 27, 27); */
    font-weight:900;
    }
    

    h4, h2{
      font-family:  Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight:900;


    }
  
      

