#cabecera{
  background-color: rgba(157, 158, 163, 0.548);
  height: 60px;

}

.carousel-inner{
    width: 110%;
    height: 90%;
    border-style: outset;
    border-radius: 10px;
    margin: 15px;

 }

 .col-sm-3{
    border-radius: 3px;
    margin: 3px;

 }
   
#cabecera .col-sm-6{
  background:linear-gradient(30deg, rgb(139, 22, 22) ,rgb(107, 66, 66), rgb(139, 22, 22)) ;
  padding: 7px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1px;
    border-style: groove;
    width: 350px;
    

  }

  #cabecera .col-sm-9{
    padding: 5px;
    padding-left: 25px;
    color: black;


  }
  
  #adi{
    background:linear-gradient(30deg, #9493d3, rgb(242, 243, 248) ,rgb(233, 234, 247), rgb(178, 177, 226));
    padding: 35px;
    width: 375px;
    text-align: center;


  }

  #prueba{
    border: none;
    cursor: pointer;
    width:650px;
    outline: none;
    margin-left: 29px;
    margin-bottom: 1px;
  
  }
  

  h1{
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
      font-family:  Arial, Helvetica, sans-serif;
    font-size: 30px;
    /* text-shadow: -1px 1px 0 rgb(28, 43, 29) , -2px 3px 0 rgb(212, 27, 27); */
    font-weight:900;
    }
    

    h4, h2{
      font-family:  Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight:900;


    }
  
    button:hover {
      background-color: #1CE32B;
      /* padding: 14px 16px; */
      cursor: pointer;
      outline: none;
      color: #fff;
      border: none;
      box-shadow: 0 5px rgb(135, 223, 157);
    }
      

