
.detalle{
    margin: 1px;
    cursor: pointer;
    outline: none;
    border-style: solid;
    border-radius: 15px;
    border-color: #9493d3;
    padding: 30px;
    margin: 1px;
  
}

#cabecera{
  background:linear-gradient(30deg, #9493d3, rgba(188, 195, 231, 0.733) ,rgb(233, 234, 247), rgb(155, 154, 224));
  height: 60px;

}
#cabecera .col-sm-3{
    background:linear-gradient(30deg, rgb(139, 22, 22) ,rgb(107, 66, 66), rgb(139, 22, 22)) ;
    padding: 12px;
    color: white;
    border-radius: 3px;
    width: 350px;
    box-shadow: 10px 4px 14px 0px rgba(0,0,0,0.75);
    padding-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15;
    font-weight: 700;

  }

  #cabecera .col-sm-9{
    padding: 5px;
    padding-left: 25px;
    color: black;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20;
    font-weight: 700;  
    text-align: center;
  }
  #adi{
    background:linear-gradient(30deg, #9493d3, rgb(242, 243, 248) ,rgb(233, 234, 247), rgb(178, 177, 226));
    padding: 35px;
    width: 375px;
    text-align: center;
    box-shadow: 10px 4px 14px 0px rgba(0,0,0,0.75);
  }

  #prueba{
    border: none;
    cursor: pointer;
    width:650px;
    outline: none;
    margin-left: 29px;
    margin-bottom: 1px;
    background:linear-gradient(30deg, #9493d3, rgb(242, 243, 248) ,rgb(233, 234, 247), rgb(178, 177, 226));
  }
  .input-group{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 20px;
  }
  .table2{
    cursor: pointer;
    overflow:scroll;
    height:400px;
  }

  .table-responsive{
    border-radius: 5px;
    background-color: rgb(215, 210, 245);

  }


.table-responsive .table thead{
  background-color: rgba(163, 154, 212, 0.705);

}

  #more {display: none;}
  #more2 {display: none;}
      
    button:hover {
      /* padding: 14px 16px; */
      cursor: pointer;
      outline: none;
      color: #fff;
      border: none;
      box-shadow: 0 1px rgb(155, 157, 219);
    }
      
  #myBtn, #myBtn2{
    background:linear-gradient(30deg, #918feb, rgb(158, 168, 216) ,rgb(187, 190, 223), rgb(253, 255, 255));
    color: black;
  
  }

  body{
    background:linear-gradient(30deg, #dad9e6, rgb(226, 227, 238) , rgba(188, 195, 231, 0.733), rgb(155, 154, 224));
  
  }
