
.detalle{
    margin: 1px;
    cursor: pointer;
    outline: none;
    /* color: #fff; */
    border: none;
    border-style: outset;
    padding: 30px;
    margin: 1px;
    /* box-shadow: 0 9px #999; */
    /* background-color: #1CE32B; */
}

#cabecera{
  background:linear-gradient(30deg, #9493d3, rgb(242, 243, 248) ,rgb(233, 234, 247), rgb(178, 177, 226));
  height: 60px;

}
#cabecera .col-sm-3{
    background:linear-gradient(30deg, rgb(139, 22, 22) ,rgb(107, 66, 66), rgb(139, 22, 22)) ;
    padding: 12px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    width: 350px;
    box-shadow: 10px 4px 14px 0px rgba(0,0,0,0.75);

  }

  #cabecera .col-sm-9{
    padding: 5px;
    padding-left: 25px;
    color: black;
  }


  
  #adi{
    background:linear-gradient(30deg, #9493d3, rgb(242, 243, 248) ,rgb(233, 234, 247), rgb(178, 177, 226));
    padding: 35px;
    width: 375px;
    text-align: center;
    box-shadow: 10px 4px 14px 0px rgba(0,0,0,0.75);
  }

  #prueba{
    border: none;
    cursor: pointer;
    width:650px;
    outline: none;
    margin-left: 29px;
    margin-bottom: 1px;
    background:linear-gradient(30deg, #9493d3, rgb(242, 243, 248) ,rgb(233, 234, 247), rgb(178, 177, 226));

  
  }
  
  .table2{
    cursor: pointer;
    overflow:scroll;
    height:380px;
  }

  .table-responsive{
    border-radius: 15px;
  }


.table-responsive .table thead{
  background-color: rgb(156, 152, 177);

}

thead tr{
  width: 2px;
}

  #more {display: none;}
  #more2 {display: none;}


  h1{
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
      font-family:  Arial, Helvetica, sans-serif;
    font-size: 30px;
    /* text-shadow: -1px 1px 0 rgb(28, 43, 29) , -2px 3px 0 rgb(212, 27, 27); */
    font-weight:900;
    }
    

    h4, h2{
      font-family:  Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight:900;


    }
  
    button:hover {
      /* padding: 14px 16px; */
      cursor: pointer;
      outline: none;
      color: #fff;
      border: none;
      box-shadow: 0 1px rgb(155, 157, 219);
    }
      
  #myBtn, #myBtn2{
    background:linear-gradient(30deg, #918feb, rgb(158, 168, 216) ,rgb(187, 190, 223), rgb(253, 255, 255));
    color: black;
  
  }

  body{
    background:linear-gradient(50deg, #9493d3, rgb(242, 243, 248) ,rgb(233, 234, 247), rgba(95, 69, 165, 0.925));
  
  }
