
.botonesdoc{
    margin: 1px;
    cursor: pointer;
    outline: none;
    border-style: solid;
    border-radius: 5px;
    border-color: #9493d3;
    padding: 3px;
    margin: 1px;
  
}

#btnregistro{
  background:linear-gradient(30deg, #918feb, rgb(158, 168, 216) ,rgb(187, 190, 223), rgb(253, 255, 255));
  color: black;
  width: 300px;
}

.detalle:hover{
  padding:2px;
  margin: 5px;
  background-color: rgba(163, 154, 212, 0.233);
}
.detalle{
  padding:2px;
  margin: 5px;
  background-color: rgba(163, 154, 212, 0.39);
}

p{
  font-weight: bold;
  font-size: 15;
}

#cabecera{
  background-color: rgba(177, 177, 211, 0.664);
  height: 60px;

}
#cabecera .col-lg-3{
  background:linear-gradient(30deg, rgb(139, 22, 22) ,rgb(107, 66, 66), rgb(139, 22, 22)) ;
  padding: 12px;
  color: white;
  box-shadow: 10px 4px 14px 0px rgba(0,0,0,0.75);
  padding-left: 4%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  
  #cabecera .col-lg-9{
    padding: 5px;
    padding-left: 25px;
    color: black;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20;
    font-weight: 700;  
    text-align: center;
  }

  #pru{
    font-size: 13px;
    font-weight: 700;
  }
  #adi{
    background-color: rgba(177, 177, 211, 0.664);
    padding: 2%;
    margin-top: 1%;
    text-align: center;
    box-shadow: 10px 4px 14px 0px rgba(0,0,0,0.75);
  }

  #prueba{
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 29px;
    margin-bottom: 1px;
    background-color: rgba(177, 177, 211, 0.664);
  }
  .input-group{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-top: 10px;
  }

 
  .table2{
    cursor: pointer;
    overflow:scroll;
    height:400px;
  }

  .table-responsive{
    border-radius: 5px;
    background-color: rgb(215, 210, 245);

  }


.table-responsive .table thead{
  background-color: rgba(163, 154, 212, 0.705);

}

  #more {display: none;}
  #more2 {display: none;}
      
    button:hover {
      /* padding: 14px 16px; */
      cursor: pointer;
      outline: none;
      color: #fff;
      border: none;
      box-shadow: 0 1px rgb(155, 157, 219);
    }
      
  
  body{
    background:linear-gradient(30deg, #9e9db6, rgb(242, 243, 248) ,rgb(233, 234, 247), rgb(191, 191, 206));
  
  }
